/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Container for the app */
.App {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Header styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px; 
}

.header h1 {
  color: #333;
}

/* Buttons */
button {
  background-color: #C39A40;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

button.edit-btn {
  background-color: #C39A40; /* yellow */
}

button.delete-btn {
  background-color: #dc3545; /* red */
}

button.invite-btn {
  background-color: #C39A40; /* green */
}

button:hover {
  opacity: 0.8;
}

/* Input fields */
input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #0f0c0b;
  color: white;
}

td {
  background-color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Form container styles */
.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.form-container h2 {
  margin-top: 0;
}

.form-container input {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #C39A40;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.form-container button:hover {
  background-color: #C39A40;
}
